# Modelling and Evaluation

### Inputs
- Train set engineered CSV

### Outputs

### Objectives

- Select best hyperparameters and algorithm
- Predict CSmpA of concrete via regression

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/concrete-strength/jupyter_notebooks'

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/concrete-strength'

Load data

In [4]:
import numpy as np
import pandas as pd
df = (pd.read_csv("outputs/datasets/cleaned/TrainSetEngineered.csv"))
print(df.shape)
df.head()

(824, 8)

,cement,slag,flyash,water,coarseaggregate,fineaggregate,age,csMPa
0,10.083308,0.698912,1.000000,119.308050,1859.591102,74065.950376,3.461989,43.89
1,9.483185,0.698912,1.000000,115.999523,2086.779165,80994.570422,3.461989,38.21
2,8.987288,5.260016,1.000000,131.071191,1770.160564,74341.507912,3.461989,33.42
3,8.557683,0.698912,0.008382,117.379509,2065.282127,80937.293504,1.402170,13.12
4,10.184724,0.698912,1.000000,123.701476,2282.625099,55427.133259,4.681869,47.22

In [5]:
df_test = (pd.read_csv("outputs/datasets/cleaned/TestSetEngineered.csv"))
print(df_test.shape)
df_test.head()

(206, 8)

,cement,slag,flyash,water,coarseaggregate,fineaggregate,age,csMPa
0,13.639810,0.668919,1.0,19.276956,3326.466226,198221.086880,1.335799,26.06
1,8.753454,4.038127,1.0,19.431510,2754.645880,337888.460378,1.967210,10.35
2,12.378412,4.053882,1.0,17.631500,2709.093772,301459.841390,4.013217,79.30
3,13.816043,0.668919,1.0,16.660081,2545.734570,423895.414308,3.079567,74.99
4,9.500977,4.180332,1.0,18.917688,2677.780257,322091.598539,1.335799,9.69

Split dataframe into features and target variable

In [6]:
features = df.drop(['csMPa'], axis=1)
target = df['csMPa']
features.head()

,cement,slag,flyash,water,coarseaggregate,fineaggregate,age
0,10.083308,0.698912,1.000000,119.308050,1859.591102,74065.950376,3.461989
1,9.483185,0.698912,1.000000,115.999523,2086.779165,80994.570422,3.461989
2,8.987288,5.260016,1.000000,131.071191,1770.160564,74341.507912,3.461989
3,8.557683,0.698912,0.008382,117.379509,2065.282127,80937.293504,1.402170
4,10.184724,0.698912,1.000000,123.701476,2282.625099,55427.133259,4.681869

In [11]:
test_features = df_test.drop(['csMPa'], axis=1)
test_target = df_test['csMPa']
test_features.head()

,cement,slag,flyash,water,coarseaggregate,fineaggregate,age
0,13.639810,0.668919,1.0,19.276956,3326.466226,198221.086880,1.335799
1,8.753454,4.038127,1.0,19.431510,2754.645880,337888.460378,1.967210
2,12.378412,4.053882,1.0,17.631500,2709.093772,301459.841390,4.013217
3,13.816043,0.668919,1.0,16.660081,2545.734570,423895.414308,3.079567
4,9.500977,4.180332,1.0,18.917688,2677.780257,322091.598539,1.335799

Create pipeline

In [7]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import ExtraTreesRegressor

def PipelineOptimization(model):
    pipeline_base = Pipeline([ ("feat_scaling", StandardScaler()),

        ("feat_selection",  SelectFromModel(model)),

        ("model", model)])
    
    return pipeline_base

Hyperparameter optimisation search

In [8]:
from sklearn.model_selection import GridSearchCV

class HyperparameterOptimizationSearch:

    def __init__(self, models, params):
        self.models = models
        self.params = params
        self.keys = models.keys()
        self.grid_searches = {}

    def fit(self, X, y, cv, n_jobs, verbose=1, scoring=None, refit=False):
        for key in self.keys:
            print(f"\nRunning GridSearchCV for {key} \n")
            model = PipelineOptimization(self.models[key])

            params = self.params[key]
            gs = GridSearchCV(model, params, cv=cv, n_jobs=n_jobs,
                              verbose=verbose, scoring=scoring)
            gs.fit(X, y)
            self.grid_searches[key] = gs

    def score_summary(self, sort_by='mean_score'):
        def row(key, scores, params):
            d = {
                'estimator': key,
                'min_score': min(scores),
                'max_score': max(scores),
                'mean_score': np.mean(scores),
                'std_score': np.std(scores),
            }
            return pd.Series({**params, **d})

        rows = []
        for k in self.grid_searches:
            params = self.grid_searches[k].cv_results_['params']
            scores = []
            for i in range(self.grid_searches[k].cv):
                key = "split{}_test_score".format(i)
                r = self.grid_searches[k].cv_results_[key]
                scores.append(r.reshape(len(params), 1))
            
            all_scores = np.hstack(scores)
            for p, s in zip(params, all_scores):
                rows.append((row(k, s, p)))

        df = pd.concat(rows, axis=1).T.sort_values([sort_by], ascending=False)

        columns = ['estimator', 'min_score',
                   'mean_score', 'max_score', 'std_score']
        columns = columns + [c for c in df.columns if c not in columns]

        return df[columns], self.grid_searches

In [8]:
models_quick_search = {
    'LinearRegression': LinearRegression(),
    "DecisionTreeRegressor": DecisionTreeRegressor(random_state=0),
    "RandomForestRegressor": RandomForestRegressor(random_state=0),
    "ExtraTreesRegressor": ExtraTreesRegressor(random_state=0),
    "AdaBoostRegressor": AdaBoostRegressor(random_state=0),
    "GradientBoostingRegressor": GradientBoostingRegressor(random_state=0),
    "XGBRegressor": XGBRegressor(random_state=0),
}

params_quick_search = {
    'LinearRegression': {},
    "DecisionTreeRegressor": {},
    "RandomForestRegressor": {},
    "ExtraTreesRegressor": {},
    "AdaBoostRegressor": {},
    "GradientBoostingRegressor": {},
    "XGBRegressor": {},
}

In [9]:
search = HyperparameterOptimizationSearch(models=models_quick_search, params=params_quick_search)
search.fit(features, target, scoring='r2', n_jobs=-1, cv=5)

Running GridSearchCV for LinearRegression

Fitting 5 folds for each of 1 candidates, totalling 5 fits

Running GridSearchCV for DecisionTreeRegressor

Fitting 5 folds for each of 1 candidates, totalling 5 fits

Running GridSearchCV for RandomForestRegressor

Fitting 5 folds for each of 1 candidates, totalling 5 fits

Running GridSearchCV for ExtraTreesRegressor

Fitting 5 folds for each of 1 candidates, totalling 5 fits

Running GridSearchCV for AdaBoostRegressor

Fitting 5 folds for each of 1 candidates, totalling 5 fits

Running GridSearchCV for GradientBoostingRegressor

Fitting 5 folds for each of 1 candidates, totalling 5 fits

Running GridSearchCV for XGBRegressor

Fitting 5 folds for each of 1 candidates, totalling 5 fits

In [17]:
grid_search_summary, grid_search_pipelines = search.score_summary(sort_by='mean_score')
grid_search_summary

,estimator,min_score,mean_score,max_score,std_score,model__learning_rate,model__n_estimators
5,XGBRegressor,0.806251,0.891416,0.92914,0.045315,0.05,1000
7,XGBRegressor,0.812234,0.891128,0.930359,0.042984,0.1,500
8,XGBRegressor,0.811054,0.890798,0.929841,0.043384,0.1,1000
4,XGBRegressor,0.804569,0.890581,0.927162,0.045144,0.05,500
6,XGBRegressor,0.797791,0.884057,0.920911,0.045306,0.1,100
2,XGBRegressor,0.791391,0.884002,0.920423,0.048008,0.01,1000
3,XGBRegressor,0.766132,0.868882,0.911165,0.053185,0.05,100
1,XGBRegressor,0.76554,0.868712,0.910495,0.053385,0.01,500
0,XGBRegressor,-0.114944,0.019915,0.16747,0.115819,0.01,100

Extensive search on most suitable model - https://www.kaggle.com/code/prashant111/a-guide-on-xgboost-hyperparameters-tuning/notebook

In [15]:
models_search = {
    "XGBRegressor": XGBRegressor(random_state=0)
}

params_search = {
    "XGBRegressor": {
        #'min_child_weight': [1, 5, 10],
        #'gamma': [0.5, 1, 1.5, 2, 5],
        #'subsample': [0.6, 0.8, 1.0],
        #'colsample_bytree': [0.6, 0.8, 1.0],
        #'max_depth': [3, 4, 5],
        'model__learning_rate': [0.01, 0.05, 0.1],
        'model__n_estimators': [100, 500, 1000]
    }
}

In [16]:
search = HyperparameterOptimizationSearch(models=models_search, params=params_search)
search.fit(features, target, scoring='r2', n_jobs=-1, cv=5)

Running GridSearchCV for XGBRegressor

Fitting 5 folds for each of 9 candidates, totalling 45 fits

In [18]:
grid_search_summary, grid_search_pipelines = search.score_summary(sort_by='mean_score')
grid_search_summary

,estimator,min_score,mean_score,max_score,std_score,model__learning_rate,model__n_estimators
5,XGBRegressor,0.806251,0.891416,0.92914,0.045315,0.05,1000
7,XGBRegressor,0.812234,0.891128,0.930359,0.042984,0.1,500
8,XGBRegressor,0.811054,0.890798,0.929841,0.043384,0.1,1000
4,XGBRegressor,0.804569,0.890581,0.927162,0.045144,0.05,500
6,XGBRegressor,0.797791,0.884057,0.920911,0.045306,0.1,100
2,XGBRegressor,0.791391,0.884002,0.920423,0.048008,0.01,1000
3,XGBRegressor,0.766132,0.868882,0.911165,0.053185,0.05,100
1,XGBRegressor,0.76554,0.868712,0.910495,0.053385,0.01,500
0,XGBRegressor,-0.114944,0.019915,0.16747,0.115819,0.01,100

Best params for mean R2 Score

In [9]:
params_search = {'XGBRegressor': {
    'model__learning_rate': [0.05],
    'model__n_estimators': [1000]
}}

Fit model with best parameters

In [10]:
xgbr = XGBRegressor(learning_rate=0.05, n_estimators=1000, verbosity=1)
pipeline_xgbr = PipelineOptimization(xgbr)

pipeline_xgbr.fit(features, target)

Pipeline(steps=[('feat_scaling', StandardScaler()),
                ('feat_selection',
                 SelectFromModel(estimator=XGBRegressor(base_score=0.5,
                                                        booster='gbtree',
                                                        callbacks=None,
                                                        colsample_bylevel=1,
                                                        colsample_bynode=1,
                                                        colsample_bytree=1,
                                                        early_stopping_rounds=None,
                                                        enable_categorical=False,
                                                        eval_metric=None,
                                                        feature_types=None,
                                                        gamma=0, gpu_id=-1,
                                                        grow_policy='depthwise',
                                                        importan...
                              feature_types=None, gamma=0, gpu_id=-1,
                              grow_policy='depthwise', importance_type=None,
                              interaction_constraints='', learning_rate=0.05,
                              max_bin=256, max_cat_threshold=64,
                              max_cat_to_onehot=4, max_delta_step=0,
                              max_depth=6, max_leaves=0, min_child_weight=1,
                              missing=nan, monotone_constraints='()',
                              n_estimators=1000, n_jobs=0, num_parallel_tree=1,
                              predictor='auto', random_state=0, ...))])

In [12]:
score = pipeline_xgbr.score(features, target)
print("Training score: ", score)

Training score:  0.9930592791360722

5-Fold and K-Fold Cross validation

In [13]:
from sklearn.model_selection import cross_val_score, KFold
scores = cross_val_score(pipeline_xgbr, features, target, cv=5)
print("Mean cross-validation score: %.2f" % scores.mean())

kfold = KFold(n_splits=10, shuffle=True)
kf_cv_scores = cross_val_score(pipeline_xgbr, features, target, cv=kfold )
print("K-fold CV average score: %.2f" % kf_cv_scores.mean())

Mean cross-validation score: 0.90
K-fold CV average score: 0.89

In [15]:
pipeline_xgbr.predict(test_features)

array([48.419697, 22.797981, 71.18165 , 61.38392 , 28.538818, 54.540703,
       61.410988, 52.361046, 61.38392 , 72.91608 , 61.38392 , 63.43401 ,
       70.68177 , 46.829136, 61.38392 , 71.08641 , 61.682606, 71.84898 ,
       55.411312, 61.38392 , 71.08641 , 72.83964 , 48.19262 , 48.419697,
       55.411312, 61.38392 , 61.410988, 52.361046, 71.08641 , 71.18165 ,
       61.38392 , 71.84898 , 52.55182 , 61.410988, 55.411312, 33.139767,
       46.781834, 61.682606, 48.6924  , 51.678005, 46.781834, 71.84898 ,
       61.38392 , 47.207783, 61.38392 , 46.781834, 55.411312, 48.419697,
       53.790184, 68.95166 , 61.410988, 61.38392 , 43.9412  , 71.58333 ,
       60.572945, 61.38392 , 61.838226, 61.66407 , 70.6894  , 71.08641 ,
       61.38392 , 61.682606, 61.66407 , 54.540703, 39.26965 , 61.319534,
       61.410988, 36.470882, 39.833942, 55.411312, 32.511593, 53.94354 ,
       54.540703, 61.38392 , 61.410988, 46.898144, 61.410988, 46.781834,
       61.38392 , 70.68177 , 55.411312, 71.58333 , 47.162586, 47.73565 ,
       70.68177 , 61.38392 , 53.798885, 61.66407 , 61.38392 , 65.337395,
       71.08641 , 55.411312, 35.90127 , 61.38392 , 44.530224, 69.59392 ,
       33.139767, 61.410988, 61.66407 , 70.68177 , 32.46759 , 47.162586,
       70.68177 , 37.765583, 70.68177 , 61.410988, 70.68177 , 48.419697,
       61.38392 , 61.410988, 26.282467, 61.38392 , 46.781834, 48.19262 ,
       61.410988, 72.83964 , 61.38392 , 47.709713, 72.83964 , 33.616013,
       61.38392 , 36.215343, 70.6894  , 61.38392 , 44.786316, 46.358356,
       55.411312, 29.691328, 61.410988, 71.84898 , 61.38392 , 70.157425,
       61.682606, 61.38392 , 43.829247, 71.08641 , 69.44997 , 61.319534,
       11.452753, 34.477085, 72.83964 , 69.59392 , 48.419697, 61.410988,
       61.38392 , 72.83964 , 53.798885, 48.419697, 61.38392 , 61.38392 ,
       48.419697, 41.56236 , 59.846844, 61.410988, 71.84898 , 61.38392 ,
       54.540703, 55.411312, 61.410988, 61.38392 , 61.38392 , 60.62231 ,
       37.83845 , 61.38392 , 44.41832 , 34.70864 , 66.315094, 61.66407 ,
       68.95166 , 48.419697, 61.410988, 71.58333 , 61.38392 , 69.44997 ,
       32.55599 , 48.419697, 41.614914, 53.798885, 61.38392 , 70.68177 ,
       46.46203 , 37.765583, 55.411312, 61.431534, 53.798885, 61.38392 ,
       72.83964 , 61.410988, 48.419697, 61.66407 , 61.38392 , 70.6894  ,
       61.410988, 71.84898 , 17.780844, 71.18165 , 61.410988, 61.38392 ,
       70.68177 , 70.6894  , 61.682606, 61.38392 , 46.4097  , 47.715466,
       61.410988, 48.419697], dtype=float32)

In [ ]:
import joblib
import os
version = 'v1'
file_path = f'outputs/ml_pipeline/{version}'

try:
    os.makedirs(name=file_path)
except Exception as e:
    print(e)

In [ ]:

joblib.dump(value=pipeline_xgbr, 
filename=f'{file_path}/regression_model.pkl')